.gallery-temp {
  margin: 0 auto;
  max-width: 980.5px;
  .hero {
    width: 100%;
    height: 400px;
    margin: 50px auto 0 auto;

    .callout {
      display: flex;
      position: relative;
      bottom: -125px;
      text-shadow: 3px 3px 8px #00000077;
      font-family: gill;

      .num {
        font-size: 300px;
      }

      .title {
        position: relative;
        bottom: -150px;
      }
    }

    //text colors
    .hText1 {
      color: $site-yellow;
      font-size: 140px;
    }
    .hText2 {
      color: $site-pink;
      font-size: 140px;
    }
    .hText3 {
      color: $site-green;
      font-size: 140px;
    }
    .hText4 {
      color: $site-purple;
      font-size: 115px;
      .title {
        bottom: -167px;
      }
    }
    .hText5 {
      color: $site-blue;
      font-size: 115px;
      .title {
        bottom: -170px;
      }
    }
    ////
  }

  //hero images
  .hero1 {
    @include add-image-linear("../images/1.png", #ffd240be, #ffd240be);
  }
  .hero2 {
    @include add-image-linear("../images/2.jpeg", #ee4367be, #ee4367be);
  }
  .hero3 {
    @include add-image-linear("../images/3.jpg", #08ad69be, #08ad69be);
  }
  .hero4 {
    @include add-image-linear("../images/4.jpg", #540d6ebe, #540d6ebe);
  }
  .hero5 {
    @include add-image-linear("../images/5.png", #3bceabbe, #3bceabbe);
  }
  ////
  .content {
    display: flex;
    justify-content: space-between;
    margin: 50.5px 0 73px;
    font-family: gill;
    font-style: italic;

    .left {
      width: 490px;
      //   margin-right: 40px;
    }

    .right {
      width: 451px;
    }
  }
}
