nav {
  margin: 0 auto;
  max-width: $content-width;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: gill;
  border-bottom-style: solid;
  border-width: 2px;
  a {
    text-decoration: none;
  }

  span {
    color: $site-pink;
    margin: 0 13.5px 0;
  }
}

.whiteText {
  color: white;
}
.whiteLine {
  border-color: white;
}

.blackText {
  color: black;
}
.blackLine {
  border-color: black;
}

footer {
  height: 455px;
  background-color: $site-pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .fLogo {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }

  li {
    text-align: center;
    list-style-type: none;
    font-family: gill;
    font-size: 16px;
    color: white;
  }

  p {
    font-family: gill;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.548);
  }

  .sub {
    margin-top: 46px;
    display: flex;

    input {
      width: 529px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.219);
      border: none;
      padding: 20px;
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.568);
      font-family: gill;
      font-size: 16px;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 167px;
      height: 60px;
      background-color: white;
      color: $site-pink;
      font-family: gill;
      font-size: 16px;
    }
  }

  .socials {
    width: 158px;
    display: flex;
    justify-content: space-between;
    font-size: 31px;
    color: white;
    margin: 30px 0 46px 0;
  }
}
